@charset "UTF-8";
html, body, ul, li, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, form {
  padding: 0;
  margin: 0; }

body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #333; }

h2, h3, h4, h5, h6 {
  font-weight: 100; }

li {
  list-style: none; }

em {
  font-style: normal; }

a {
  text-decoration: none; }

input {
  border: 0;
  outline: none; }

/****************base***************/
header, #discount_wrap, #content, footer, #search {
  width: 100%; }

#top, .discount, .content, .search, .market, .top_line, .tao_go, .tao_life, .tao_bale, .tao_buy, .tao_ad, .recommend, .tao_fashion, .tao_home, .tao_solid, .tao_hot, .tao_adlist, .tao_guess, .bot, .tao_bottom, .fixed_search {
  width: 1190px;
  margin: 0 auto; }

/****************头部广告***************/
#discount_wrap {
  height: 99px;
  background: linear-gradient(to right, #ff1747, #ff440f); }
  #discount_wrap h2 {
    height: 2px;
    background: url("../img/top2.jpg"); }
  #discount_wrap .discount .discount_l {
    text-align: center;
    display: block;
    float: left;
    padding: 12px 16px; }
    #discount_wrap .discount .discount_l h3 {
      width: 54px;
      height: 16px;
      border-radius: 10px;
      background: linear-gradient(to right, #fad45e, #f77220);
      color: white;
      text-align: center; }
  #discount_wrap .discount_m {
    height: 97px;
    position: relative;
    float: left; }
    #discount_wrap .discount_m a {
      display: block;
      width: 198px;
      height: 78px;
      margin-top: 12px;
      float: left; }
    #discount_wrap .discount_m p, #discount_wrap .discount_m span, #discount_wrap .discount_m img {
      display: block; }
    #discount_wrap .discount_m p {
      float: left;
      margin: 20px 10px 0;
      line-height: 26px;
      color: white;
      font-size: 18px; }
      #discount_wrap .discount_m p span {
        font-size: 14px; }
    #discount_wrap .discount_m img {
      height: 60px;
      margin-top: 12px; }
    #discount_wrap .discount_m .discount_m1 {
      background: url("https://img.alicdn.com/tfs/TB10Hs0gMMPMeJjy1XcXXXpppXa-406-172.png_200x200"); }
    #discount_wrap .discount_m .discount_m2 {
      background: url("https://img.alicdn.com/tfs/TB1YHs0gMMPMeJjy1XcXXXpppXa-400-174.png_200x200"); }
    #discount_wrap .discount_m .discount_m3 {
      background: url("https://img.alicdn.com/tfs/TB1M.ImgMMPMeJjy1XdXXasrXXa-400-172.png_200x200"); }
    #discount_wrap .discount_m .discount_m4 {
      background: url("https://img.alicdn.com/tfs/TB1TYs0gMMPMeJjy1XcXXXpppXa-200-85.png_200x200"); }
    #discount_wrap .discount_m h5 {
      width: 100%;
      height: 14px;
      position: absolute;
      bottom: 0;
      background: #ff1c3f; }
  #discount_wrap .discountm_r {
    display: block;
    float: left;
    margin-left: 10px;
    padding: 12px 13px 22px;
    text-align: center; }
    #discount_wrap .discountm_r img {
      width: auto;
      height: 47px;
      display: block; }
    #discount_wrap .discountm_r h3 {
      width: 54px;
      height: 16px;
      border-radius: 10px;
      background: linear-gradient(to right, #fad45e, #f77220);
      color: white;
      text-align: center; }
  #discount_wrap .discount_m5 {
    position: relative;
    display: block;
    width: 218px;
    height: 85px;
    margin-top: 12px;
    float: right;
    background: url("https://img.alicdn.com/tfs/TB1kNy.cPihSKJjy0FeXXbJtpXa-434-194.png_220x220"); }
    #discount_wrap .discount_m5 p {
      color: red; }
    #discount_wrap .discount_m5 h5 {
      width: 100%;
      height: 14px;
      position: absolute;
      bottom: 0;
      background: #ff1c3f; }

/****************content***************/
#content {
  background: url("https://img.alicdn.com/tfs/TB16HnzhPuhSKJjSspdXXc11XXa-214-919.png") no-repeat left top, url("https://img.alicdn.com/tfs/TB1aynJhGagSKJjy0FaXXb0dpXa-274-919.png") no-repeat right top;
  background: #F4F4F4; }

.content {
  background: #F4F4F4; }

/****************search***************/
.search {
  background: #fff;
  height: 140px; }
  .search h1 {
    background: #ff1c3f;
    height: 140px;
    width: 190px;
    margin-right: 68px;
    float: left; }
  .search .search_m {
    float: left;
    width: 630px;
    position: relative;
    margin-right: 75px; }
    .search .search_m p {
      height: 22px;
      margin: 34px 0 0 17px; }
      .search .search_m p a {
        color: #ff4400;
        display: inline-block;
        text-align: center;
        line-height: 22px;
        margin: 0 5px;
        height: 22px; }
        .search .search_m p a:hover {
          background: pink; }
      .search .search_m p .search_baby {
        width: 36px;
        height: 22px;
        background: linear-gradient(to right, #ff8e00, #ff5200);
        color: #fff;
        border-radius: 5px 5px 0 0; }
        .search .search_m p .search_baby:hover {
          background: linear-gradient(to right, #ff8e00, #ff5200); }
    .search .search_m .search_box {
      position: relative;
      width: 626px;
      height: 36px;
      border: 2px solid #ff5608;
      border-radius: 20px;
      line-height: 36px; }
      .search .search_m .search_box #search_mhid, .search .search_m .search_box #search_mhid1 {
        display: none;
        position: absolute;
        border: 1px solid #bebebe;
        width: 550px;
        z-index: 2;
        left: 0;
        background: #fff; }
        .search .search_m .search_box #search_mhid li, .search .search_m .search_box #search_mhid1 li {
          padding: 0 6px;
          height: 26px;
          line-height: 26px;
          color: #333; }
          .search .search_m .search_box #search_mhid li:hover, .search .search_m .search_box #search_mhid1 li:hover {
            background: #F4F4F4;
            color: #1071a8; }
      .search .search_m .search_box #search_mhid1 {
        top: 38px;
        z-index: 10; }
      .search .search_m .search_box .icon-fangdajing {
        position: absolute;
        left: 15px; }
      .search .search_m .search_box input {
        height: 30px;
        width: 510px;
        border-radius: 20px;
        margin-left: 8px;
        float: left; }
      .search .search_m .search_box .icon-camera {
        margin-right: 18px; }
      .search .search_m .search_box .search_btn {
        display: inline-block;
        width: 74px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        border-radius: 0 20px 20px 0;
        float: right;
        background: linear-gradient(to right, #ff8e00, #ff5200); }
    .search .search_m .search_list {
      padding: 0 4px;
      background: #fff;
      margin: 0;
      line-height: 30px; }
      .search .search_m .search_list a {
        color: #666; }
        .search .search_m .search_list a:hover {
          color: red; }
      .search .search_m .search_list .search_j {
        float: right; }
  .search .search_r {
    padding-top: 5px; }
    .search .search_r img {
      height: 112px; }

/****************轮播***************/
.market {
  height: 550px; }
  .market .market_l {
    float: left;
    width: 188px;
    border: 1px solid #ff5000; }
    .market .market_l h2 {
      line-height: 30px;
      background: #ff5000;
      color: white;
      text-align: center;
      font-size: 16px; }
    .market .market_l .market_list {
      background: #fff;
      padding-top: 6px;
      height: 512px;
      position: relative; }
      .market .market_l .market_list p {
        line-height: 32px;
        padding-left: 25px;
        font-size: 14px; }
        .market .market_l .market_list p:hover {
          background: pink;
          color: red; }
          .market .market_l .market_list p:hover a {
            color: red; }
          .market .market_l .market_list p:hover a:hover {
            text-decoration: underline; }
        .market .market_l .market_list p a {
          color: #666; }
        .market .market_l .market_list p span {
          float: right;
          margin-right: 16px; }
      .market .market_l .market_list .market_hid {
        position: absolute;
        width: 670px;
        height: 518px;
        border: 2px solid #f94a14;
        background: #fff;
        top: 0;
        left: 187px;
        display: none;
        padding: 0 20px;
        z-index: 3; }
        .market .market_l .market_list .market_hid .market_hidl {
          width: 435px;
          border-right: 1px solid #f4f4f4;
          height: 518px;
          float: left; }
          .market .market_l .market_list .market_hid .market_hidl .market_hidm {
            margin: 0 10px; }
            .market .market_l .market_list .market_hid .market_hidl .market_hidm h3 {
              font-size: 16px;
              padding-top: 20px;
              color: #3c3c3c; }
              .market .market_l .market_list .market_hid .market_hidl .market_hidm h3:hover a {
                color: red; }
              .market .market_l .market_list .market_hid .market_hidl .market_hidm h3 > a {
                float: right;
                font-size: 12px;
                color: #3c3c3c; }
            .market .market_l .market_list .market_hid .market_hidl .market_hidm > div {
              padding: 10px 0;
              line-height: 24px; }
              .market .market_l .market_list .market_hid .market_hidl .market_hidm > div a {
                color: #3c3c3c;
                margin: 0 5px; }
        .market .market_l .market_list .market_hid .market_hidr {
          float: right;
          width: 234px; }
          .market .market_l .market_list .market_hid .market_hidr h3 {
            padding-top: 20px;
            color: #333;
            text-align: center;
            margin-bottom: 12px; }
          .market .market_l .market_list .market_hid .market_hidr .market_hidimg li {
            float: left;
            margin: 10px; }
            .market .market_l .market_list .market_hid .market_hidr .market_hidimg li img {
              width: 70px;
              height: 70px;
              margin-left: 20px; }
              .market .market_l .market_list .market_hid .market_hidr .market_hidimg li img p {
                line-height: 24px; }
  .market .market_r {
    float: left;
    background: #f4f4f4; }
    .market .market_r .market_title ul {
      float: left;
      background: url("" no-repeat); }
      .market .market_r .market_title ul li {
        float: left; }
        .market .market_r .market_title ul li a {
          display: block;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          color: white; }
    .market .market_r .market_title .market_titlel {
      overflow: hidden;
      background: url("https://img.alicdn.com/tfs/TB1zA6dcGagSKJjy0FbXXa.mVXa-408-62.png_200x200"); }
      .market .market_r .market_title .market_titlel a {
        padding: 0 12px; }
    .market .market_r .market_title .market_titlem {
      width: 802px;
      background: #ff8f00; }
      .market .market_r .market_title .market_titlem a {
        padding: 0 7px; }
    .market .market_r .market_title .market_titler {
      background: #ff8f00;
      width: 270px;
      height: 30px;
      line-height: 30px;
      color: white; }
    .market .market_r .market_rcont {
      width: 998px;
      height: 530px; }
      .market .market_r .market_rcont .market_rcontr {
        width: 710px;
        height: 520px;
        float: left; }
        .market .market_r .market_rcont .market_rcontr #sliderBox {
          float: left;
          width: 518px;
          height: 280px;
          position: relative;
          overflow: hidden;
          margin: 10px; }
          .market .market_r .market_rcont .market_rcontr #sliderBox ul {
            overflow: hidden; }
          .market .market_r .market_rcont .market_rcontr #sliderBox #sliderList, .market .market_r .market_rcont .market_rcontr #sliderBox #sliderNav {
            position: absolute; }
          .market .market_r .market_rcont .market_rcontr #sliderBox #sliderBtns {
            display: none; }
            .market .market_r .market_rcont .market_rcontr #sliderBox #sliderBtns .btn {
              position: absolute;
              width: 20px;
              height: 30px;
              opacity: .5;
              background: #333;
              line-height: 30px;
              font-size: 40px;
              color: white;
              cursor: pointer;
              font-size: 16px; }
            .market .market_r .market_rcont .market_rcontr #sliderBox #sliderBtns .btn:first-child {
              border-radius: 0 20px 20px 0;
              left: 0px; }
            .market .market_r .market_rcont .market_rcontr #sliderBox #sliderBtns .btn:last-child {
              border-radius: 20px 0 0 20px;
              right: 0px;
              text-align: right; }
          .market .market_r .market_rcont .market_rcontr #sliderBox #sliderNav {
            display: none;
            margin-left: 50%;
            left: -35px;
            bottom: 15px;
            width: 70px;
            height: 13px;
            background: #555557;
            text-align: center;
            border-radius: 5px; }
            .market .market_r .market_rcont .market_rcontr #sliderBox #sliderNav .hover {
              background: #ff5000; }
            .market .market_r .market_rcont .market_rcontr #sliderBox #sliderNav li {
              float: left;
              width: 8px;
              height: 8px;
              margin: 3px 3px;
              background: white;
              color: red;
              border-radius: 100%;
              text-align: center;
              line-height: 22px;
              cursor: pointer; }
          .market .market_r .market_rcont .market_rcontr #sliderBox img {
            display: block;
            border: none; }
        .market .market_r .market_rcont .market_rcontr .market_rcontr_r {
          float: left;
          margin-top: 10px; }
      .market .market_r .market_rcont .market_rtwo {
        width: 710px;
        height: 220px;
        overflow: hidden; }
        .market .market_r .market_rcont .market_rtwo #sliderBox {
          float: left; }
          .market .market_r .market_rcont .market_rtwo #sliderBox p {
            color: #666; }
            .market .market_r .market_rcont .market_rtwo #sliderBox p img {
              display: block;
              float: left;
              margin-right: 12px; }
            .market .market_r .market_rcont .market_rtwo #sliderBox p span {
              float: right;
              margin-right: 10px; }
              .market .market_r .market_rcont .market_rtwo #sliderBox p span em {
                font-style: normal; }
          .market .market_r .market_rcont .market_rtwo #sliderBox #sliderList li {
            height: 198px;
            background: #fff; }
      .market .market_r .market_rcont .market_rcontz {
        width: 288px;
        height: 510px;
        background: #fff;
        float: right;
        margin-top: 10px; }
        .market .market_r .market_rcont .market_rcontz .taobaby {
          height: 145px;
          width: 288px;
          background: url("https://img.alicdn.com/tfs/TB18UDmhqagSKJjy0FgXXcRqFXa-290-154.png") no-repeat; }
          .market .market_r .market_rcont .market_rcontz .taobaby p {
            text-align: center; }
            .market .market_r .market_rcont .market_rcontz .taobaby p img {
              display: block;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              margin: 6px 0 6px 120px; }
            .market .market_r .market_rcont .market_rcontz .taobaby p em {
              display: block;
              font-style: normal; }
            .market .market_r .market_rcont .market_rcontz .taobaby p .a_first {
              margin-left: 45px;
              margin-right: 6px; }
            .market .market_r .market_rcont .market_rcontz .taobaby p span {
              display: block;
              width: 100px;
              height: 16px;
              background: #ffe4db;
              border-radius: 8px;
              float: left;
              color: #ff5000;
              font-size: 12px; }
            .market .market_r .market_rcont .market_rcontz .taobaby p a {
              display: block;
              width: 92px;
              height: 25px;
              line-height: 25px;
              background: #ff5601;
              border-radius: 4px;
              float: left;
              color: #fff;
              font-size: 14px;
              margin-top: 12px;
              margin-left: 6px; }
            .market .market_r .market_rcont .market_rcontz .taobaby p #market_login {
              margin-left: 15px; }
            .market .market_r .market_rcont .market_rcontz .taobaby p #market_register {
              width: 75px; }
            .market .market_r .market_rcont .market_rcontz .taobaby p #market_shop {
              width: 75px; }
        .market .market_r .market_rcont .market_rcontz .taobaby_n {
          height: 26px;
          line-height: 26px;
          background: #ffe4dd;
          text-align: center; }
          .market .market_r .market_rcont .market_rcontz .taobaby_n a {
            color: #ff4400; }
          .market .market_r .market_rcont .market_rcontz .taobaby_n span {
            margin-left: 30px;
            font-size: 12px; }
        .market .market_r .market_rcont .market_rcontz .notice {
          padding: 18px 20px 0;
          height: 89px; }
          .market .market_r .market_rcont .market_rcontz .notice .notice_title {
            overflow: hidden; }
            .market .market_r .market_rcont .market_rcontz .notice .notice_title li {
              margin-left: 25px;
              float: left;
              margin-bottom: 12px; }
              .market .market_r .market_rcont .market_rcontz .notice .notice_title li a {
                color: #3c3c3c; }
                .market .market_r .market_rcont .market_rcontz .notice .notice_title li a:hover {
                  border-bottom: 2px solid #ff4400;
                  font-weight: bold; }
              .market .market_r .market_rcont .market_rcontz .notice .notice_title li:nth-last-child {
                margin-left: 0; }
          .market .market_r .market_rcont .market_rcontz .notice .notice_news_c {
            overflow: hidden;
            position: absolute; }
            .market .market_r .market_rcont .market_rcontz .notice .notice_news_c p {
              line-height: 26px; }
              .market .market_r .market_rcont .market_rcontz .notice .notice_news_c p a {
                color: #3c3c3c; }
                .market .market_r .market_rcont .market_rcontz .notice .notice_news_c p a:hover {
                  color: #ff4400; }
        .market .market_r .market_rcont .market_rcontz .notice_n {
          background: #f4f4f4;
          border: 1px solid #f4f4f4;
          border-right: 0;
          border-left: 0;
          height: 224px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          .market .market_r .market_rcont .market_rcontz .notice_n li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #fff;
            width: 69px;
            height: 72px;
            border: 1px solid #fff; }
            .market .market_r .market_rcont .market_rcontz .notice_n li span {
              display: block;
              width: 24px;
              height: 24px;
              margin-bottom: 10px;
              background: url("https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png"); }
            .market .market_r .market_rcont .market_rcontz .notice_n li:hover {
              border: 1px solid #ff4400; }

/****************淘宝头条***************/
.top_line {
  background: #f4f4f4;
  height: 112px; }
  .top_line .top_linel_mt {
    font-size: 16px;
    line-height: 30px;
    color: #333; }
    .top_line .top_linel_mt a {
      float: right;
      color: #999;
      margin-right: 20px;
      font-size: 12px; }
  .top_line .top_linel {
    margin-top: 12px;
    height: 100px;
    width: 890px;
    background: #fff;
    float: left; }
    .top_line .top_linel h5 {
      padding-left: 20px;
      font-weight: 100;
      float: left;
      color: #999;
      width: 180px; }
      .top_line .top_linel h5 img {
        margin-top: 28px; }
      .top_line .top_linel h5 span {
        margin-top: 10px;
        display: block; }
    .top_line .top_linel .top_linel_m {
      cursor: pointer;
      width: 690px;
      height: 84px;
      padding-top: 16px;
      float: right; }
      .top_line .top_linel .top_linel_m img {
        display: block;
        float: left;
        width: 130px;
        height: 71px; }
      .top_line .top_linel .top_linel_m .top_linel_txt {
        width: 528px;
        float: right;
        padding-left: 12px; }
        .top_line .top_linel .top_linel_m .top_linel_txt .top_linel_mp {
          width: 514px;
          color: #999;
          font-size: 14px; }
  .top_line .top_liner {
    width: 260px;
    padding: 0 15px;
    height: 111px;
    background: #fff;
    float: right; }
    .top_line .top_liner .top_linel_mt {
      color: #3c3c3c;
      font-size: 14px; }
      .top_line .top_liner .top_linel_mt a {
        color: #3c3c3c;
        font-size: 12px; }
    .top_line .top_liner .top_liner_img a {
      float: left; }
    .top_line .top_liner .top_liner_img img {
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 10px 8px; }

/******************tao go***********************/
.tao_go {
  height: 164px;
  margin: 10px auto; }
  .tao_go li {
    float: left; }
  .tao_go .tao_gofirst img {
    height: 164px; }
  .tao_go .tao_gotwo ul {
    width: 860px;
    height: 164px;
    background: url("https://img.alicdn.com/tfs/TB1_g_zbhrI8KJjy0FpXXb5hVXa-860-164.png") no-repeat;
    margin-left: 1px; }
  .tao_go .tao_gotwo li {
    width: 121px;
    height: 164px;
    border-right: 1px solid #fff; }
    .tao_go .tao_gotwo li a {
      float: left;
      padding: 10px 10px 0; }
      .tao_go .tao_gotwo li a span {
        display: flex;
        width: 100px;
        height: 100px;
        background: #fff;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; }
        .tao_go .tao_gotwo li a span img {
          height: 90px; }
      .tao_go .tao_gotwo li a p {
        text-align: center; }
        .tao_go .tao_gotwo li a p b, .tao_go .tao_gotwo li a p em {
          display: block;
          font-size: 14px;
          color: white; }

/****************生活研究所*********************/
.tao_life {
  height: 166px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #fff; }
  .tao_life h2 {
    margin: 18px 20px;
    color: #999;
    font-weight: 100;
    font-size: 12px;
    line-height: 24px;
    overflow: hidden; }
    .tao_life h2 img {
      display: block;
      height: 24px;
      margin-right: 12px;
      float: left; }
    .tao_life h2 span {
      display: block;
      line-height: 24px;
      float: left; }
  .tao_life ul {
    margin: 0 20px;
    overflow: hidden; }
    .tao_life ul li {
      float: left;
      width: 190px; }
      .tao_life ul li:hover > a {
        border: 1px solid red; }
      .tao_life ul li:hover .tao_life_list1 > a {
        color: red; }
      .tao_life ul li > a {
        display: block;
        float: left;
        width: 82px;
        height: 82px;
        border: 1px solid #22d3a6;
        border-radius: 50%;
        text-align: center;
        overflow: hidden; }
        .tao_life ul li > a img {
          height: 78px; }
      .tao_life ul li .tao_life_list1 {
        float: left;
        margin-left: 10px; }
        .tao_life ul li .tao_life_list1 a {
          display: block;
          font-size: 16px;
          color: #333;
          margin: 12px 0 2px; }
        .tao_life ul li .tao_life_list1 span {
          display: block;
          font-size: 14px;
          color: #999;
          line-height: 26px; }
        .tao_life ul li .tao_life_list1 .icon-likefill {
          font-size: 12px;
          color: #13d0a1; }

/****************标题********************/
.tao_balet {
  width: 550px;
  padding: 0 20px;
  background: #fff;
  height: 63px;
  line-height: 63px; }
  .tao_balet .tao_balet_img {
    float: left;
    position: relative;
    color: #999; }
    .tao_balet .tao_balet_img .icon-erweima {
      font-size: 12px;
      color: #999;
      float: left;
      margin-right: 6px; }
    .tao_balet .tao_balet_img .tao_balet_hid {
      position: absolute;
      z-index: 2;
      display: none;
      width: 86px;
      height: 100px;
      background: #fff;
      top: 45px;
      left: 60px;
      border: 1px solid #f0f0f0; }
      .tao_balet .tao_balet_img .tao_balet_hid img {
        height: 64px;
        width: auto;
        margin: 10px 10px 0; }
      .tao_balet .tao_balet_img .tao_balet_hid p {
        text-align: center;
        line-height: 24px;
        color: #666; }
  .tao_balet img {
    float: left;
    margin-top: 20px;
    height: 23px;
    margin-right: 10px; }
  .tao_balet a {
    color: #999;
    float: right; }

/****************有好货********************/
.tao_bale {
  height: 660px; }
  .tao_bale .tao_bale_l {
    float: left; }
    .tao_bale .tao_bale_l .tao_bale_list {
      padding: 0 20px;
      width: 550px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      overflow: hidden;
      background: #fff; }
      .tao_bale .tao_bale_l .tao_bale_list li {
        text-align: center;
        width: 179px;
        height: 290px; }
        .tao_bale .tao_bale_l .tao_bale_list li > a > img {
          height: 179px; }
        .tao_bale .tao_bale_l .tao_bale_list li > a {
          display: block;
          width: 179px;
          height: 179px;
          background: #f4f4f4; }
          .tao_bale .tao_bale_l .tao_bale_list li > a:hover {
            background: #ededed; }
            .tao_bale .tao_bale_l .tao_bale_list li > a:hover p > a {
              color: red; }
        .tao_bale .tao_bale_l .tao_bale_list li p:hover a {
          color: red; }
        .tao_bale .tao_bale_l .tao_bale_list li p a {
          display: block;
          color: #3c3c3c;
          font-size: 14px;
          line-height: 38px; }
        .tao_bale .tao_bale_l .tao_bale_list li p span {
          display: block;
          width: 170px;
          overflow: hidden;
          white-space: nowrap; }
        .tao_bale .tao_bale_l .tao_bale_list li p .icon-emoji {
          color: #35b1ff;
          font-size: 12px;
          line-height: 56px; }
  .tao_bale .tao_bale_r {
    float: right; }
    .tao_bale .tao_bale_r h3 {
      margin-top: 8px;
      font-weight: 100; }
      .tao_bale .tao_bale_r h3 a {
        display: block;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        width: 179px;
        height: 52px;
        color: #999; }
        .tao_bale .tao_bale_r h3 a:hover {
          color: red; }
      .tao_bale .tao_bale_r h3 span {
        line-height: 48px; }
        .tao_bale .tao_bale_r h3 span > img {
          display: block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          float: left;
          margin-right: 8px;
          margin-top: 16px; }
        .tao_bale .tao_bale_r h3 span em {
          float: left;
          font-size: 12px; }

/*--------------淘抢购---------------*/
.tao_buy {
  height: 224px;
  padding: 20px 0;
  background: #fff; }
  .tao_buy .tao_buyt {
    padding: 0 20px;
    overflow: hidden;
    line-height: 22px;
    color: #999; }
    .tao_buy .tao_buyt img {
      height: 22px;
      display: block;
      margin-right: 10px; }
    .tao_buy .tao_buyt img, .tao_buy .tao_buyt p {
      line-height: 22px;
      float: left; }
    .tao_buy .tao_buyt a {
      float: right;
      color: #999; }
  .tao_buy .tao_buy_list {
    overflow: hidden;
    margin: 22px 20px 0; }
    .tao_buy .tao_buy_list li {
      width: 382px;
      height: 180px;
      float: left; }
      .tao_buy .tao_buy_list li > p:first-child {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        background: #f4f4f4;
        margin-right: 12px; }
        .tao_buy .tao_buy_list li > p:first-child img {
          width: 170px;
          height: 170px; }
      .tao_buy .tao_buy_list li > p:last-child {
        float: left;
        width: 170px;
        height: 180px;
        background: #fff; }
        .tao_buy .tao_buy_list li > p:last-child a, .tao_buy .tao_buy_list li > p:last-child em, .tao_buy .tao_buy_list li > p:last-child span {
          display: block; }
        .tao_buy .tao_buy_list li > p:last-child a {
          height: 44px;
          color: #333;
          font-size: 16px;
          margin-top: 14px;
          width: 168px;
          line-height: 22px; }
        .tao_buy .tao_buy_list li > p:last-child em {
          line-height: 54px; }
        .tao_buy .tao_buy_list li > p:last-child span {
          font-size: 14px;
          color: red;
          line-height: 70px; }

/*--------------广告区---------------*/
.tao_ad {
  height: 70px;
  margin: 10px 0; }

/*--------------推荐区---------------*/
.recommend {
  margin-bottom: 10px;
  overflow: hidden; }
  .recommend .recommend_l {
    float: left;
    width: 590px;
    height: 538px;
    background: #fff;
    overflow: hidden; }
    .recommend .recommend_l .tao_balet {
      overflow: hidden;
      height: 43px; }
      .recommend .recommend_l .tao_balet .tao_balet_img {
        height: 43px; }
        .recommend .recommend_l .tao_balet .tao_balet_img a {
          height: 43px; }
    .recommend .recommend_l .recommend_list {
      margin: 0 20px; }
      .recommend .recommend_l .recommend_list > li {
        float: left;
        height: 218px;
        width: 270px;
        margin-top: 20px; }
        .recommend .recommend_l .recommend_list > li h3 span {
          font-size: 14px;
          margin-right: 10px; }
        .recommend .recommend_l .recommend_list > li h3 em {
          color: #999; }
        .recommend .recommend_l .recommend_list > li > div {
          margin-top: 12px;
          overflow: hidden; }
          .recommend .recommend_l .recommend_list > li > div > img {
            display: block;
            float: left;
            width: 180px;
            height: 180px; }
          .recommend .recommend_l .recommend_list > li > div > a {
            display: block;
            width: 89px;
            height: 180px;
            float: right; }
            .recommend .recommend_l .recommend_list > li > div > a img {
              width: 89px;
              height: 89px;
              margin-bottom: 2px; }
  .recommend .recommend_r {
    float: right; }

/*--------------时尚爆料王---------------*/
.tao_fashion_l_t {
  height: 33px;
  padding-left: 20px;
  padding-top: 20px;
  color: #ad45df;
  font-size: 18px;
  background: #fff;
  margin-bottom: 1px;
  overflow: hidden; }
  .tao_fashion_l_t span {
    border-left: 4px solid #8558d6;
    margin-right: 10px; }

.tao_fashion {
  height: 290px;
  margin-bottom: 10px; }
  .tao_fashion .tao_fashion_l {
    float: left; }
    .tao_fashion .tao_fashion_l ul li {
      width: 277px;
      height: 234px;
      border: 1px solid #fff;
      float: left;
      background: #fff;
      margin-right: 1px; }
      .tao_fashion .tao_fashion_l ul li:hover {
        border: 1px solid red; }
      .tao_fashion .tao_fashion_l ul li p {
        padding-left: 20px;
        margin-top: 25px; }
      .tao_fashion .tao_fashion_l ul li > p:nth-of-type(1) {
        font-size: 16px;
        color: #3c3c3c; }
      .tao_fashion .tao_fashion_l ul li > p:nth-of-type(2) {
        font-size: 12px;
        color: #999; }
      .tao_fashion .tao_fashion_l ul li > p:nth-of-type(3) {
        margin-top: 24px; }
        .tao_fashion .tao_fashion_l ul li > p:nth-of-type(3) img {
          height: 110px; }
  .tao_fashion .tao_fashion_r {
    float: right;
    width: 300px;
    height: 250px;
    padding: 20px;
    background: #fff; }
    .tao_fashion .tao_fashion_r img {
      width: 300px;
      height: 250px; }

/*--------------品质生活家--------------*/
.tao_home {
  height: 768px;
  overflow: hidden;
  margin: 10px 0; }
  .tao_home .tao_home_l {
    width: 590px; }
    .tao_home .tao_home_l h2 {
      color: #28abff; }
      .tao_home .tao_home_l h2 span {
        border: 4px solid #28abff; }
    .tao_home .tao_home_l ul li {
      width: 291px;
      margin: 1px; }
    .tao_home .tao_home_l ul li:nth-of-type(2n) {
      margin-right: 0; }
  .tao_home .tao_home_r {
    float: right; }
    .tao_home .tao_home_r h2 {
      color: #ff5000; }
      .tao_home .tao_home_r h2 span {
        border: 4px solid #ff5000; }

/*--------------实惠专业户--------------*/
.tao_solid {
  height: 250px;
  margin-bottom: 10px; }
  .tao_solid h2 {
    color: #31ba98; }
    .tao_solid h2 span {
      border: 4px solid #31ba98; }
  .tao_solid ul li {
    float: left;
    width: 235px;
    height: 198px;
    background: #fff;
    border: 1px solid #fff;
    margin-right: 1px; }
    .tao_solid ul li:last-child {
      margin: 0;
      width: 236px; }
    .tao_solid ul li:hover {
      border: 1px solid red; }
    .tao_solid ul li > p {
      margin: 26px 0 0 20px;
      font-size: 16px;
      color: #3c3c3c; }
    .tao_solid ul li p > img {
      width: 120px; }
    .tao_solid ul li img, .tao_solid ul li a, .tao_solid ul li em {
      float: left;
      display: block; }
    .tao_solid ul li p > a {
      padding-left: 10px;
      width: 80px;
      height: 106px;
      background: #fff; }
      .tao_solid ul li p > a em:nth-of-type(1) {
        margin-top: 20px;
        color: #333;
        font-size: 16px; }
      .tao_solid ul li p > a em:nth-of-type(2) {
        margin-top: 8px;
        color: #999;
        font-size: 14px; }
      .tao_solid ul li p > a em:nth-of-type(3) {
        margin-top: 16px;
        height: 22px;
        width: 76px;
        color: #ff5000;
        font-size: 12px;
        border: 1px solid #ff5000;
        border-radius: 10px;
        text-align: center;
        line-height: 22px; }

/*--------------热卖单品---------------*/
.tao_hot {
  overflow: hidden; }
  .tao_hot h2 {
    margin: 0; }
  .tao_hot .tao_hot_t {
    padding-left: 20px;
    height: 35px;
    margin-bottom: 1px;
    background: #fff; }
    .tao_hot .tao_hot_t a {
      color: #999;
      margin-right: 16px; }
  .tao_hot ul {
    overflow: hidden; }
    .tao_hot ul li {
      float: left;
      width: 194px;
      height: 308px;
      padding: 20px;
      border: 1px solid #fff;
      margin: 1px;
      background: #fff; }
      .tao_hot ul li:hover {
        border: 1px solid red; }
      .tao_hot ul li img {
        width: 197px;
        height: 197px;
        margin-bottom: 8px; }
      .tao_hot ul li h3 {
        color: #666;
        line-height: 20px;
        height: 20px;
        overflow: hidden; }
      .tao_hot ul li p {
        line-height: 32px;
        margin-bottom: 5px; }
      .tao_hot ul li p:last-child span {
        color: red; }
      .tao_hot ul li p:last-child em {
        float: right; }

/*--------------广告推荐区--------------*/
.tao_adlist {
  height: 130px;
  padding: 20px 10px;
  width: 1170px;
  background: #fff; }
  .tao_adlist img {
    float: left;
    display: block;
    height: 130px;
    width: 374px;
    margin: 0 8px; }

/*--------------猜你喜欢--------------*/
.tao_guess ul {
  overflow: hidden; }
  .tao_guess ul li {
    float: left;
    width: 194px;
    height: 290px;
    padding: 20px;
    border: 1px solid #fff;
    margin: 1px;
    background: #fff; }
    .tao_guess ul li:hover {
      border: 1px solid red; }
    .tao_guess ul li img {
      width: 197px;
      height: 197px;
      margin-bottom: 8px; }
    .tao_guess ul li h3 {
      color: #666;
      line-height: 20px;
      overflow: hidden;
      color: #666;
      height: 40px;
      margin-bottom: 20px; }
    .tao_guess ul li p:last-child span {
      color: red; }
    .tao_guess ul li p:last-child em {
      float: right; }

/*-------------底部---------------*/
.bot {
  height: 260px; }
  .bot h3 {
    color: #e6e6e6;
    height: 65px;
    line-height: 65px;
    text-align: center; }
    .bot h3 span {
      margin: 20px; }
  .bot ul li {
    float: left;
    padding: 44px 50px 0 25px;
    width: 220px; }
    .bot ul li h2 {
      margin-bottom: 26px;
      line-height: 34px;
      color: #3c3c3c; }
      .bot ul li h2 span {
        color: #999; }
    .bot ul li p {
      line-height: 20px; }
      .bot ul li p em {
        margin-right: 16px;
        color: #999; }

/*-------------footer---------------*/
footer {
  background: #fff;
  height: 230px; }
  footer .tao_bottom p:nth-of-type(1) {
    height: 54px;
    padding: 6px 170px 6px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 28px;
    color: #F4F4F4; }
    footer .tao_bottom p:nth-of-type(1) a {
      color: #6c6c6c;
      margin: 0 8px; }
  footer .tao_bottom p {
    line-height: 30px; }
  footer .tao_bottom p:last-child {
    margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
